
<div class="w-75 p-3">
  <h1> New Task </h1>
  <div class="form-group field">
    <%= form_with model: @task do |f|%>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
      <%= f.text_field :details %>
      <%= f.submit%>
    <% end %>
  </div>

  <%= link_to ("<i class='fa-solid fa-arrow-rotate-left'></i>").html_safe, tasks_path %>
</div>
